@charset 'utf-8';
@import url('common.css');
@import url('reset.css');

@mixin flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


//home 
body{ width:100%; 
      height:100vh;
  .home{
    // height:92.857142%; // (44+710)/812*100
    position: relative;
    height: 100vh;
    overflow: hidden;
    padding: 44px 30px;
    background-color: #e5e5e5;
    header{
      @include flex;
      margin-bottom: 40px;
      img{width:43px;}
      .icons{
        width:60px;
        @include flex;
        img{width:25px;}
      }
    }
  
    // 계좌 정보
    .account-info{
      border: 0 solid #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 20px rgba(248, 193, 88, 0.25);
      background-color: #fff;
      width: 75%;
      margin: 0 auto;
      text-align: center;
      position:relative;
      .account-number{
        padding:15px 0;
      }
      .balance{
        font-size:2em;
      }
      .btn-transfer{
        font-weight: 700;
        position:absolute;
        top:10px; right:5%;
      }
      .target-wrap{
        .graph-box{
          position:relative;
          .graph-state{
            margin: 24px 0 12px;
            width: 70%;
            height: 6px;
            background-color: #C4C4C4;
            display: flex;
            align-items: center;
            position: relative;
            left:15%;
            .state-bar{
              position: absolute;
              left: 0;
              top: 0;
              width: 30%;
              height: 100%;
              background-color: var(--color-yellow02);
              
            }
            .state-pointer{
              position: absolute;
              left: 30%;
              width: 4px;
              height: 17px;
              background-color: var(--color-orange02);
            }
            
          }
          .target-img{
            position: absolute;
            right: 5%;
            bottom:0;
          }
        }
        .target-notice{ 
          text-align: center;
          padding-bottom: 6px;
        }
      }
    }
    
    //광고
    .ad{ padding: 24px 0;
      .ad-content{
        text-align: center;
      }
    }
    
    //거래 내역
    .transaction{
      width: 100%;
      position: absolute;
      left: 0;
      top: 355px;
      background: #FFFFFF;
        border-radius: 20px 20px 0px 0px;}
      
    .btn-area{padding: 8px 0 16px 0;
         .up-button{
          width: 15%; 
          height: 4px;
          background-color: var(--color-gray04);
          border-radius: 4px;
          position: relative;
          top:0;
          left:0;
          display: flex;
          margin:0 auto;
        }
       }
       //piggy
    .piggy-bank{
        position:relative;
        display: flex;
        align-items: center;
        flex-direction: row;
        width:200%;
        padding: 0 30px;
        .pig{
          margin-right: 9px;
          background-color: #DADADA;
          width: 160px;
          height: 50px;
          position: relative;
          overflow: hidden;
          border-radius: 6px;
          .pig-goal{
            position: relative;
            background: #698ABA;
            width:50%;
            height:100%;
            padding: 5px 13px;
            span{
              position: relative;
              font-weight: var(--font-demilight);
              font-size: var(--font-small);
              line-height: 17px;
              color: #fff;
              display: flex;
              flex-direction: column;
              z-index: 100;
            }
          }
        }
        .pig-create{
          button{
            color: var(--color-orange02);
            display: flex;
            align-items: center;
            img{
              display: block;
              margin-right:5px;
            }
          }
        }
        
      }
      //날짜별 거래 내역
    .transaction-histories{
      margin:0 30px;
      .transaction-daily{
        padding-top: 17px; 
        .transactions{
          .daily-cost{
            @include flex;
            .date{
              font-weight: var(--font-bold);
              font-size: var(--font-medium);
              line-height: 20.72px; 
            }
            .cost{
              font-size: var(--font-medium);
              font-weight: var(--font-normal);
              color: var(--color-gray04);
              line-height: 21px;
              text-align: right;
            }
          }
          .transaction-item{
            @include flex;
            border-bottom: 1px solid #DCDCDC;
            padding:6px 0;

          }
        }
      }
    }
    
  }
  nav{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    height: 58px;
    width: 100vw;
    background-color: var(--nav-bg);
    .nav-items{
      display: flex;
      justify-content: space-around;
      padding: 15px 30px;
      }
  
    }
}

///////////management//////////////
.management{
  background-color: #fff;
	padding-left: 0 30px;
  .title{
    font-size: var(--font-xlarge);

  }
}
